body {
  background-color: #3d82bf;
}

button {
  width: 2.5em;
  height: 2.5em;
  font-size: 1.5em;
  border: none;
  border-radius: 2em;
  margin: 0.2em;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  background-color: black;
  border-radius: 1em;
  padding: 2em;
}

.primary {
  background: #505050;
  color: #FFFF;
}

.secondary {
  background: #FF9500;
  color: #FFFF;
}

#btnZero {
  width: 5.5em;
}

.result {
  color: #FFFF;
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  font-size: 3em;
}